<!DOCTYPE html>
<html lang="en" class="full">
  <head>
    <% include /head/index %>
  </head>
  <body>
    <script type="text/javascript">
    var apiKey = '<%= apiKey %>';
    var sessionId = '<%= sessionId %>';
    var token = '<%= token %>';
    var email = '<%= email %>';
    </script>
    <%= include /partials/profile %>
    <%= include /scripts/profile %>
  </body>
</html>
